.Rproj.user
.Rhistory
.RData
.Ruserdata
/input-files/Coastline_high_res_polygon_v7.1
/seaward_extension_results
/data-testing/tracking-data
/R-RMarkdown-BookdownChapters/_book
/R-RMarkdown-BookdownChapters/_bookdown_files
/R-packages
/R-code/TrackingData_CleanAndPrepare/old-code
